<h1>Welcome to TinyApp</h1>

<h3>  
        <% if(cookie) { %>
            <button><a href = "/logout">Logout</a></button>
        <% } else { %>
            <button><a href = "/login">Login</a></button>
            <button><a href = "/register">Register</a></button>
        <% } %>
</h3>