<h1>Welcome to TinyApp</h1>

<h3>  
    <form method="POST"> 
        <% if(cookie) { %>
            <input type = "submit" value = "logout" formaction="/logout">
        <% } else { %>
            Login: 
            <input type = "submit" value = "login" formaction="/login">
            Register: 
            <input type = "submit" value = "register" formaction="/register">
        <% } %>
    </form>
</h3>