<h1>Welcome to TinyApp</h1>

<h3>  
    <form method="POST" action="/login">
        Login: 
        <input type = "text" name = "username">
        <input type = "submit" value = "Submit">
    </form>
</h3>