<h1>Welcome to TinyApp</h1>

<h3>  
    <% if(cookie) { %>
        You're logged in as  <%= cookie.email %>
        <form action = "/logout" method = "POST">
            <input type = "submit" value = "Logout">
        </form>
    <% } else { %>
        <button><a href = "/login">Login</a></button>
        <button><a href = "/register">Register</a></button>
    <% } %>
</h3>