<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>

    <h2> Invalid URL. Please start your url with "http://"
        <button><a href = "/urls">Got it!</a></button>
    </h2>

</body>
</html>