<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <h2> Register Below: </h2>
    <h3>
        <form action = "/register" method = "POST">
        Email: <input type = "email" name = "email">
        <br>
        Password: <input type = "password" name = "password">
        <br>
        <input type = "submit" value = "Register">
        </form>
    </h3>
</body>
</html>