<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>

    <h2> Resource not found!
        <button><a href = "/urls">Back to homepage</a></button>
    </h2>


</body>
</html>