<!doctype html>
<html lang = eng>

<head>
    <% include partials/_header %>
</head>

<body>
    <ul>
        <% for(url in urls){ %>
            <li>
                <form method="POST">
                <%= url %>: <%= urls[url] %>  
                <input type="submit" value = "Delete" formaction="/urls/<%= url %>/delete">
                <input type = "submit" value = "Edit" formaction="/urls/<%= url %>">
                </form>
            </li>
        <% } %>
    </ul>
    <a href="/urls/new">Shorten A URL</a></href>
</body>

</html>
