<!doctype html>
<html lang = eng>

<head>
    <title>Show URLs</title>
</head>

<body>
     <h1>Show URLs</h1>
    <ul>
        <li> Long URL: <%= longURLS %> <br> Short URL: <%= shortURLS %> </li>
    </ul>
</body>

</html>