<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/_header %>
  </head>

  <br>
  <h2>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL you want to shorten:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Submit">
    </form>

  </h2>

</html>