<!doctype html>
<html lang = eng>

<head>
    <% include partials/_header %>
</head>

<body>
     <h2>Short URL: <%= shortURLS %></h2>
     <h3>
        <form method="POST" action="/urls/<%= shortURLS %>/update">
        Update to another long URL: 
        <input type ="text" name="LongURL">
        <input type="submit" name="Update" value = "Update">
        </form>
    </h3>
</body>

</html>