<!doctype html>
<html lang = eng>

<head>
    <% include partials/_header %>
</head>

<body>
    <ul>
        <% for(key in urls){ %>
            <li>
                <form method="POST">
                <%= key %>: <%= urls[key].LongURL %>
                <input type="submit" value = "Delete" formaction="/urls/<%= key %>/delete">
                <input type = "submit" value = "Edit" formaction="/urls/<%= key %>">
                </form>
            </li>
        <% } %>
    </ul>
    <button><a href="/urls/new">Shorten A URL</a></href></button>
</body>

</html>
