<!doctype html>
<html lang = eng>

<head>
    <% include partials/_header %>
</head>

<body>
     <h2>Show URLs</h2>
    <ul>
        <li> Long URL: <%= longURLS %> <br> Short URL: <%= shortURLS %> </li>
    </ul>
</body>

</html>